body{
  margin: 0;
}


nav li{
  display: inline;
  margin-bottom: 20px;
}
.title{
  position: absolute;
  margin-left: 40px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: lighter;
}
nav a{
  font-family: 'Roboto Mono', monospace;
  margin-right: 40px;
  text-decoration: none;
  color: black;

}
nav a:hover{
  text-decoration: underline;
}

nav ul{

}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 14%;
    float: left;

        /* if you want it vertically middle of the navbar. */
}
.link{
  padding-top: 30px;
  float: right;
}
.sub-title{
  position: absolute;

  color: #FFC300;
  left: 50%;
  border-style: solid;
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
#about{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 30px;
}




#schedule-title, #con-title {
  padding-top: 120px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
}
.container{

}
.container div{
  display: flex;
  justify-content: space-between;
  margin-top: -300px;
  justify-content: center;
}
