body{

}
hr{
  background-color: black;
  height: 4px;
}
#schedule-title, #con-title {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}
.contact-info{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 14px;
  margin-left: 14px;
  border: 4px solid black;
  color: black;
  padding: 12px;
  background-color: #FFC300;
}
.qr-code{
  width: 50%;


}
.flex-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:  4px solid black;
  background-color: #FFC300;
  font-size: 14px;
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 16px;
}
#scan-link{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 16px;
  text-decoration: underline;
}
#link{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
.item-con-link {
  margin-right: 80px;
  text-align: center;
}
.item-con{
  margin-left: 20px;
}
#email-stuff{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 16px;
  text-decoration: underline;
}
.con-ul li {
    font-size: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 26px;
    list-style-type: square;
    font-family: 'Roboto Mono', monospace;
 }
.phs-meme{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: 4px solid black
}
.comp-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* change viewport when greater than 658px*/

@media (min-width:658px) {
  .contact-info{
    font-size: 22px;
  }
  #link, #email-stuff, #scan-link{
    font-size: 28px;
  }
  .comp-view-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

}
