body{

}
hr{
  background-color: black;
  height: 4px;
}
#schedule-title, #con-title {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}
.contact-info{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 14px;
  margin-left: 14px;
  border: 2px solid black;
  color: black;
  padding: 12px;
  background-color: #FFC300;
}
.qr-code{
  width: 50%;


}
.flex-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  background-color: #FFC300;
  font-size: 14px;
  margin-right: 14px;
  margin-left: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 16px;
}
#scan-link{
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  margin-top: 16px;
  text-decoration: underline;
}
#link{
    font-family: 'Roboto Mono', monospace;
}
.item-con-link{
  margin-right: 20px;
  text-align: center;
}
.item-con{
  margin-left: 20px;
}
